<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string>Markdown Mode 0.1, Copyright 2010 Steve Woodrow</string>
	<key>CFBundleIdentifier</key>
	<string>SEEMode.Markdown</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Markdown</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>CFBundleVersion</key>
	<string>0.1</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2010 Steve Woodrow
http://www.stevewoodrow.com</string>
</dict>
</plist>
